<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body class="container">

        <ul
            class="nav nav-tabs"
        >
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page"
                    >DIRECTORIO</a
                >
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Dropdown</a
                >
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Action</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Another link</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link disabled">Disabled</a>
            </li>
        </ul>
        

        <br><br>
        
<div

    class="table-responsive"
>
<h1>CONTACTOS</h1>
<a
    name=""
    id=""
    class="btn btn-success"
    href="/crearcontacto"
    role="button"
    >Crear Contacto</a
>
<br><br>


    <table class="table table-primary" id="tabla_resultados" >
        <thead>
            <tr>
            <th scope="col">IDENTIFICACION</th>
            <th scope="col"> NOMBRE COMPLETO</th>
            <th scope="col">GENERO</th>
            <th scope="col">DIRECCION</th>
            <th scope="col">TIPO DE TELEFONO</th>
            <th scope="col">EMAIL</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">IMAGEN</th>
            <th scope="col">ACCIONES</th>
            
            </tr>
        </thead>
        <tbody>  </tbody>
    </table>
</div>

<script>

    fetch("/contactos")
    .then(res=>res.json())
    .then(data=>{
        const tbody=document.querySelector("#tabla_resultados tbody")
        data.forEach(contacto => {
            const fila=document.createElement("tr")
            fila.innerHTML=`
            <td>${contacto.id_contacto}</td>
            <td>${contacto.primer_nombre} ${contacto.segundo_nombre} ${contacto.primer_apellido} ${contacto.segundo_apellido}  </td>
            <td> ${contacto.detalle_genero} </td>
            <td> ${contacto.detalle_direccion}  </td>
            <td> ${contacto.detalle_tipo_telefono} </td>
            <td> ${contacto.email} </td>
            <td> ${contacto.telefono} </td>
            <td> ${contacto.imagen} </td>
            <td> <a
    
    id=""
    class="btn btn-info"
    href="#"
    role="button"
    >Editar</a>
    <a
    
    id=""
    class="btn btn-danger"
    href="#"
    role="button"
    >Eliminar</a>
    </td>

            `
            tbody.appendChild(fila)
        });
    })
    .catch(err=>console.log("error al cargar la informacion",err))
</script>  




<script>
const Swal = require('sweetalert2')
    Swal.fire({
position: "top-end",
icon: "success",
title: "<%= mensaje %>",
showConfirmButton: false,
timer: 1500
});
</script>


        







        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
